{% block content%}

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    
    <a class="navbar-item" href="">
      <img src="{% static 'img/instagram_black.png' %}" width="44" height="74">

      <h2>Instagram</h2>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="{% url 'index' %}" class="navbar-item">
        Home
      </a>

      <a href="{% url 'show-notifications' %}" class="navbar-item">
        Notifications
        {% if count_notifications %}
          <span class="badge">{{ count_notifications }}</span>
        {% endif %}
      </a>

      <a href="{% url 'profile' request.user %}" class="navbar-item">
        Profile - <strong>{{ request.user }}</strong>
      </a>

        <a href="{% url 'newpost' %}" class="navbar-item">
          <strong>New Post</strong>
        </a>


      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Settings
        </a>

        <div class="navbar-dropdown">                             
          <hr class="navbar-divider">
          <a href="{% url 'logout' %}" class="navbar-item">
            Log out
          </a>
        </div>
      </div>
    </div>

  </div>
</nav>
{% endblock %}